.about {
//  position: relative;
  margin: 0;
  padding: 1px 30px 45px;
//  background-color: aliceblue;
//  &::after {
//    position: absolute;
//    left: 0;
//    bottom: 0;
//    width: 100%;
//    height: 7px;
//    content: "";
//    background: transparent url("../img/zigzag-line-decktop.svg");
//  }
}
.about__title {
  .font(@bold;25px;60px);
  margin-top: 10px;
  margin-bottom: 6px;
  padding-bottom: 10px;
  color: @text-color;
}
.about__slogan-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about__slogan-item {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
}
.about__slogan-text {
  .font(@bold;17px;20px);
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 55px;
  color: @text-color;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 28px;
    content: "";
    padding-bottom: 30px;
    background-color: @bg-basecolor;
    background-repeat: no-repeat;
  }
}
.about__slogan-text--eco {
  &::before {
    background-image: url("../img/icon-feature-1.svg")
  }
}
.about__slogan-text--style {
  &::before {
    background-image: url("../img/icon-feature-3.svg")
  }
}
.about__slogan-text--like {
  &::before {
    background-image: url("../img/icon-feature-5.svg")
  }
}
.about__slogan-text--hand {
  &::before {
    background-image: url("../img/icon-feature-2.svg")
  }
}
.about__slogan-text--up {
  &::before {
    background-image: url("../img/icon-feature-4.svg")
  }
}
.about__slogan-text--box {
  padding-bottom: 10px;
  &::before {
    background-image: url("../img/icon-feature-6.svg")
  }
}
.about__title--reviews {
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.about__review-item {
  .font(@height:30px);
  margin: 0;
  margin-top: -6px;
  margin-bottom: 20px;
  padding: 0;
}
.about__review-item p {
  .font(@height:30px);
}
.about__toggles {
  width: 100%;
  min-height: 52px;
  margin: 30px 0 38px;
  padding: 0;
}
.about__arrow {
  display: inline-block;
  width: 49%;
  min-height: 50px;
  text-indent: -9999px;
  vertical-align: top;
  border: 1px solid @delimiter-color;
}
.about__arrow--left {
  margin-right: -4px;
  background: transparent url("../img/icon-left-arrow.svg") no-repeat 50%;
}
.about__arrow--right {
  background: transparent url("../img/icon-right-arrow.svg") no-repeat 50%;
}

@media @tablet-widths {
  .about {
    margin: 0;
    margin-bottom: 66px;
    padding: 1px 50px;
//    background-color: beige;
  }
  .about__title {
    .font(@bold;43px;44px);
    margin-top: 50px;
    margin-left: -5px;
    margin-bottom: 15px;
  }
  .about__slogan-list {
    display: inline-block;
    width: 49.5%;
    margin-bottom: 40px;
    vertical-align: top;
  }
  .about__slogan-item {
    display: block;
    margin-top: 0px;
    margin-bottom: 34px;
  }
  .about__slogan-text {
    .font(@bold;20px;22px);
    padding-top: 77px;
    color: @text-color;
    &::before {
      top: 28px;
      width: 55px;
      height: 26px;
      padding-bottom: 20px;
    }
  }
  .about__review-wrapper {
    position: relative;
    min-height: 455px;
//    margin-top: 10px;
    margin-left: -50px;
    padding: 1px 0 1px 47px;
    background: transparent url("../img/review@1x.jpg") no-repeat top left;
  }
  .about__title--reviews {
    margin-top: 58px;
    margin-bottom: 30px;
    padding: 20px 0;
  }
  .about__review-item {
    margin-top: 33px;
    margin-left: 2px;
  }
  .about__toggles {
    width: 25%;
    padding: 0;
    position: absolute;
    right: -4px;
    bottom: 48px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .about__arrow {
    width: 49%;
    margin-right: -7px;
    border: none;
  }
  .about__btn {
    position: absolute;
    top: 80px;
    right: 0;
    width: 24%;
  }
}

@media @desktop-widths {
  .about {
    width: 75%;
    margin: 0;
    margin-left: 171px;
    margin-bottom: 63px;
    padding: 1px 50px;
  }
  .about__title {
    .font(@bold;53px;57px);
    margin-top: 58px;
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .about__slogan-list {
    display: inline-block;
    width: 34%;
    margin-left: 5px;
    margin-bottom: 47px;
    vertical-align: top;
  }
  .about__slogan-list--left {
    width: 27.2%;
    margin-right: 107px;
  }
  .about__slogan-item {
    display: block;
    margin-top: 0px;
    margin-bottom: 35px;
  }
  .about__slogan-text {
    .font(@bold;20px;25px);
    padding-top: 76px;
    line-height: 22px;
    color: @text-color;
  }
  .about__review-wrapper {
    min-height: 456px;
    margin-left: -171px;
    padding-left: 173px;
  }
  .about__title--reviews {
    margin-top: 49px;
    margin-bottom: 49px;
    padding-bottom: 0;
  }
  .about__toggles {
    width: 18%;
    right: -26px;
    bottom: 99px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .about__btn {
    position: absolute;
    top: 78px;
    right: -17px;
    width: 16.5%;
  }
}
