.contacts {
  margin: 34px 30px 7px;
}
.contacts__title {
  .font(@bold;18px;30px);
  margin-bottom: 26px;
  color: @text-color;
}
.contacts__table {
  display: table;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}
.contacts__row {
  display: table-row;
  margin: 0;
  padding: 0;
}
.contacts__cell {
  display: table-cell;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
.contacts__cell--left {
  width: 30%;
}
.contacts__cell--right {
  .font(@height:30px;);
}
.contacts__email-link {
    .font(@size:15px;@height:30px);
    padding-bottom: 3px;
    color: @text-basecolor;
    text-decoration: none;
    border-bottom: 1px solid @lightgreen;
    &:hover {
      color: #46c1ae;
      border-bottom: 1px solid #46c1ae;
    }
    &:active {
      opacity: 0.3;
    }
  }
.contacts__map {
  width: 100%;
//  margin-left: -30px;
//  margin-right: -30px;
  margin-bottom: 38px;
  background-color: beige;
  line-height: 0;
}
.contacts__map-img {
  display: block;
  margin: 0 auto;
}
.contacts__btn {
  margin-bottom: 32px;
}

@media @tablet-widths {
  .contacts {
    margin: 0;
    margin-top: 18px;
    padding: 1px 50px;
  }
  .contacts__title {
    .font(@bold;43px;50px);
    position: relative;
    margin-left: -5px;
    margin-bottom: 50px;
  }
  .contacts__title::after {
    position: absolute;
    top: -17px;
    right: 3px;
    width: 47px;
    height: 82px;
    content: "";
    background: transparent url("../img/icon-flag.svg") no-repeat center;
  }
  .contacts__table {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    vertical-align: top;
  }
  .contacts__row {
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
  }
  .contacts__cell {
    .font(@size:17px;@height:30px);
    display: inline-block;
    vertical-align: top;
  }
  .contacts__cell--left {
    width: 22%;
  }
  .contacts__email-link {
    .font(@size:17px;@height:30px);
    padding-bottom: 1px;
    color: @text-basecolor;
    text-decoration: none;
    border-bottom: 1px solid @lightgreen;
  }
  .contacts__cell--right {
    width: 75%;
  }
  .contacts__map {
//    margin-left: -50px;
//    margin-right: -50px;
    background-size: auto;
  }
  .contacts__btn {
    width: 34%;
    margin-top: 15px;
    margin-bottom: 55px;
    margin-left: 32.7%;
  }
}
@media @desktop-widths {
  .flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 105px;
    padding: 0;
    width: 1150px;
//    background-color: antiquewhite;
  }
  .center-wrapper--contacts {
    width: 46.1%;
    margin: 0;
    padding: 0;
//    background-color: bisque;
  }
  .contacts {
//    display: inline-block;
//    .clearfix();
    width: 90%;
    min-height: 50px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
    padding-right: 0;
    padding-bottom: 0;
//    background-color: aliceblue;
  }
  .contacts__title {
    .font(@bold;53px;60px);
    display: block;
    position: relative;
    margin-bottom: 47px;
    margin-top: 138px;
    margin-left: 50px;
    padding-left: 120px;
  }
  .contacts__title::after {
    position: absolute;
    top: -7px;
    left: 13px;
    width: 47px;
    height: 82px;
    content: "";
    background: transparent url("../img/icon-flag.svg") no-repeat center;
  }
  .contacts__table {
    display: table;
    width: 64%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 175px;
    vertical-align: top;
  }
  .contacts__row {
    display: table-row;
    width: 100%;
    vertical-align: top;
  }
  .contacts__cell {
    display: table-cell;
  }
  .contacts__cell--left {
    width: 26.1%;
  }
  .contacts__map {
    width: 525px;
    margin-left: 46px;
    margin-top: 70px;
    margin-bottom: 0;
    margin-right: 0;
//    background-size: auto;
  }
  .center-wrapper--contacts-btn {
    width: 46.1%;
    margin: 0;
    margin-top: -52px;
    padding: 0;text-align: right;
  }
  .contacts__btn {
//    order: 1;
    width: 47.5%;
    margin: 0;
    margin-right: 70px;
//    margin-top: 25px;
//    margin-bottom: 55px;
//    margin-left: 16.8%;
  }
}
