.footer {
  padding: 22px 30px 20px;
  text-align: center;
  background-color: @bg-secondcolor;
}
.footer__logo {
  display: none;
}
.footer__copyright {
  padding-top: 25px;
  border-top: 1px solid @delimiter-color;
}
.footer__copyright .footer__copyright-text,
.footer__copyright a {
  margin: 0;
  padding: 0;
  display: inline;
  vertical-align: top;
}
.footer__copyright .footer__copyright-text {
  .font(@bold;19px;);
  margin-right: 24px;
  color: @text-color;
}
.footer__copyright a {
  display: inline-block;
  width: 30px;
  height: 35px;
  box-sizing: border-box;
  margin-top: -3px;
  text-indent: -9999px;
  background: transparent url("../img/logo-htmlacademy.svg") no-repeat center;
}
.footer__logo-html {
  width: 27px;
  height: 34px;
  box-sizing: border-box;
}
