.page-header {
  display: flex;
  min-height: 176px;
  margin: 0;
  padding: 0;
  background-color: @bg-secondcolor;
}
.page-header__title {
  display: block;
  margin: auto;
  margin-top: 70px;
  font-family: "Verdana", "Arial", san-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @text-color;
}
