.zigzag-line {
  width: 100%;
  height: 7px;
  margin: 0;
  padding: 0;
  line-height: 0;
//  content: "";
  background: lightgrey url("../img/zigzag-line.svg") repeat center;
}

@media @tablet-widths {
  .zigzag-line {
    height: 18px;
    margin-top: 38px;
  }
}

@media @desktop-widths {
  .zigzag-line {
    display: none;
  }
}
